   /* --Blog Button-- */
   .nav h4:last-child a{
    color: var(--color-light);
    background-color: var(--color-accent);
}

    /* --Blog Boxes-- */
.blog{
    background-color: var(--color-light-gray);
    border-radius: var(--b-radius);
}
.blog img{
    border-radius: 10px 10px 0 0;
}
.blog-content{
    margin: 0 var(--sm-gap) var(--sm-gap);
}
.blog-content .blog-title, 
.blog-content .s-btn{
    margin-bottom: var(--sm-gap);
}
.s-btn{
    padding: 0 var(--sm-gap);
}
.s-btn a{
    color: var(--color-dark);
}
.blog-content div{
    display: flex;
    justify-content: space-between;
    align-self: center;
}
.blog-content div h4{
    color: rgba(22, 22, 22, 0.75);
}