
    /* --Large Destops Screen--  */
/* @media only screen and (max-width: 1400px){
    div{
        color: rgb(219, 114, 34);
    }
} */

    /* --Laptops and Destops Screen--  */
@media only screen and (max-width: 1200px){
    :root{
        --gap: 28px;
        --mar-padd: 3vw;
    }
    .big-text{
        font-size: 3.5rem;
        line-height: 64px;
    }
}

    /* --Tablets Screen-- */
@media only screen and (max-width: 992px){
    :root{
        --gap: 24px;
        --mar-padd: 32px;
    }
    .big-text{
        font-size: 44px;
        line-height: 52px;
    }
    .banner .content{
        padding: var(--mar-padd) 0;
    }
    .banner p{
        height: 72px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .main-sec{
        flex-direction: column;
    }
    .main-sec .nav{
        width: auto;
        height: auto;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    
    .btn-sec{
        margin-bottom: var(--mar-padd);
    }
    .btn-sec .btn{
        display: block;
    }
}

    /* --Mini Tablets and Landscape phones-- */
@media only screen and (max-width: 768px){
    :root{
        --gap: 16px;
        --mar-padd: 24px;
    }
    .big-text{
        font-size: 32px;
        line-height: 40px;
    }
    .btn {
        padding: 8px 24px;
    }
    .banner p{
        font-size: 14px;
        height: 60px;
    }
    .nav h4{
        padding: 8px 0;
    }
    .blog-container{
        grid-template: repeat(3, 1fr) / repeat(2,1fr);
    }
    .footer-nav ul{
        flex-wrap: wrap;
        gap:var(--gap);
    }
    .social-icon .icon{
        font-size: 24px;
    }
}

    /* Phones Screen */
@media only screen and (max-width: 576px){
    :root{
        --gap: 12px;
        --mar-padd: 20px;
    }
    .banner{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .banner .content{
        width: auto;
        height: auto;
    }
    .banner p{
        font-size: 14px;
        max-height: 83.2px;
    }
    .banner h1 br{
        display: none;
    }
    .banner img{
        width: 240px;
        height: 252px;
    }
    .main-sec .nav{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }
    .blog-container{
        grid-template: repeat(6, 1fr) / 1fr;
    }   
}
