*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-dark:#161616;
    --color-light:white;
    --color-accent:#DD0000;
    --gap: 32px;
    --mar-padd: 4vw;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
.big-text{
    font-size: 4rem;
    line-height: 5rem;
}
.btn {
    padding: 16px 24px;
    border: none;
    border-radius: 8px;
    color: var(--color-light);
    background-color: var(--color-accent);
}
.btn a{
    font-weight: bold;
    color: var(--color-light);
}
.section{
    margin: var(--mar-padd);
    margin-bottom: 0;
}
.container{
    display: flex;
    gap: var(--gap);
}

   /* --Banner Section-- */
.banner{
    align-items: center;
    justify-content: space-between;
    padding: 0 var(--mar-padd);
    background-color: var(--color-dark);
    border-radius: 32px;
}
.banner p{
    font-size: 1rem;
}
.banner .content , 
.banner img{
    width: 50%;
}
.banner .content h1{
    animation: leftrevel 1s ease-in-out 1;
}
.banner .content p{
    animation: leftrevel 0.75s ease-in-out 1;
    animation-delay: 0.25s;
}
.banner .content .btn{
    animation: leftrevel 0.5s ease-in-out 1;
    animation-delay: 0.5s;
}
@keyframes leftrevel {
    0%{
        opacity: 0;
        transform: translateX(-120%); 
    }
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}
.banner img{
    animation: zoomout 1s ease-in-out 1; 
}
@keyframes zoomout {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);  
    }
}
.banner .content h1 , 
.banner .content p{
    color: var(--color-light);
    margin-bottom: var(--gap);
}

   /* --Section-- */
.nav{
    width: 296px;
    height: 296px;
    padding: var(--gap);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--color-dark);
}
.nav h4{
    padding: 16px 0;
    text-align: center;
    border-radius: 8px;
    background-color: var(--color-light);
}
.nav h4:last-child{
    color: var(--color-light);
    background-color: var(--color-accent);
}
.blog-container{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: var(--gap);
}
.blog{
    border: 1px solid var(--color-dark);
}
.blog-content{
    margin: 0 8px 8px;
}
.blog-content > h4 , .s-btn{
    margin-bottom: 8px;
}
.blog-content div{
    display: flex;
    justify-content: space-between;
}
   /* --Button-- */
.btn-sec{
    width: auto;
    display: flex;
    justify-content: center;
}
.btn-sec .btn{
    display: none;
}
   /* --Footer-- */
footer{
    padding: var(--mar-padd);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-dark);
}
footer h1,
.footer-nav a,
.social-icon .icon
{
    color: var(--color-light);
}
hr{
    width: 85%;
}
footer ul{
    display: flex;
    justify-content: center;
    gap:var(--gap);
}
.social-icon .icon{
    font-size: 2rem;
}