*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: var(--bg-color);
}
:root{
    --bg-color: rgba(250, 243, 227, 0.35);
    --color-dark: #000000;
    --color-light: #f0f0f0;
    --color-light-gray: rgba(250, 243, 227, 0.75);
    --color-accent: #1A4D2E;
    --color-accent-s:#FF9F29;
    --gap: 32px;
    --sm-gap: 8px;
    --mar-padd: 4vw;
    --b-radius: 8px;
    --banner-b-radius: 32px;
}

    /* --Initial Setup-- */
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--color-dark);
}
img{
    width: 100%;
}
.big-text{
    font-size: 4rem;
    line-height: 5rem;
}
.btn {
    padding: 16px 24px;
    border: none;
    border-radius: var(--b-radius);
    background-color: var(--color-accent);
    position: relative;
    z-index: 1;
}
.btn::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--color-accent-s);
    border-radius: var(--b-radius);
    z-index: -2;
    transition: width 0.5s;
}
.btn:hover::after{
    width: 100%;
}
.btn a{
    font-weight: bold;
    color: var(--color-light);
}
.section{
    margin: var(--mar-padd);
    margin-bottom: 0;
}
   /* --Banner Section-- */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--gap);
    padding: 0 var(--mar-padd);
    background-color: var(--color-dark);
    border-radius: var(--banner-b-radius);
}
.banner p{
    font-size: 1rem;
}
.banner .content , 
.banner img{
    width: 50%;
}
.banner .content h1{
    animation: leftrevel 1s ease-in-out 1;
}
.banner .content p{
    animation: leftrevel 0.75s ease-in-out 1;
    animation-delay: 0.25s;
}
.banner .content .btn{
    animation: leftrevel 0.5s ease-in-out 1;
    animation-delay: 0.5s;
}
@keyframes leftrevel {
    0%{
        opacity: 0;
        transform: translateX(-120%); 
    }
    100%{
        opacity: 1;
        transform: translateX(0); 
    }
}
.banner img{
    animation: zoomout 1s ease-in-out 1; 
}
@keyframes zoomout {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);  
    }
}
.banner .content h1 , 
.banner .content p{
    color: var(--color-light);
    margin-bottom: var(--gap);
}

   /* --Main Section-- */
.main-sec{
    display: grid;
    grid-template-columns: minmax(256px, 20vw) 1fr;
    gap: var(--gap);
}
.nav{
    height: 296px;
    padding: var(--gap);
    border-radius: var(--b-radius);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    background-color: var(--color-dark);
}
.nav h4 a{
    display: block;
    padding: 16px 0;
    text-align: center;
    border-radius: var(--b-radius);
    background-color: var(--color-light);
}
.nav h4 a:active{
    color: var(--color-light);
    background-color: var(--color-accent);
}
.main-container{
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: var(--gap);
}

   /* --Button Section-- */
.btn-sec{
    display: none;
}
   /* --Footer-- */
footer{
    margin-top: var(--mar-padd);
    padding: var(--mar-padd);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    background-color: var(--color-dark);
}
footer h1,
.footer-nav a,
.social-icon .icon
{
    color: var(--color-light);
}
hr{
    width: 85%;
}
footer ul{
    display: flex;
    justify-content: center;
    gap:var(--gap);
}
.social-icon .icon{
    font-size: 2rem;
}